<h1>I am Learning Angular2 - v10</h1>

<h2>Basics: using FormsModule with predefined value on app.component.ts</h2>
<input type="text" [(ngModel)]="name">
<p>{{ name }}</p>

<h2>Basics: creating a new Component manually and calling it</h2>
<app-server></app-server>

<div class="container">
  <div class="row">
    <div class=".col-xs-12">
      <h2>Basics: creating a new Component with "ng generate component servers"</h2>
      <hr>
      <!-- //<app-servers></app-servers> -->
      <div app-servers></div>
    </div>
  </div>
</div>

